.nav {
    height: 90px;
}

.box {
    padding: 15px 30px 15px 30px;

}

.manage {
    font-size: 70px;
}

.container {
    background: linear-gradient(90deg, #C1DEE8 0%, #FBD9B9 100%);

}

.form-control {
    height: 60px;
    border-radius: 40px;
}
.btn2{
    height: 60px;
    border-radius: 50px;
    background: #1F1F1F;
    color: white;
}